/* ==========================================================================
 Global Overrides
 ========================================================================== */
 * {
  box-sizing: border-box;
/*  border: 1px solid black;
*/}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}
ul {
  margin-right:0;
  margin-left:0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Global
================================================================ */

/* Layout
================================================================ */
body, html {
  max-height:100%;
}
body {
  background-color:white;
/*  -webkit-transition: all 900ms ease-in-out;
  -o-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out; */
}

.Section {
  -webkit-box-shadow: inset 1px 1px 11px -1px rgba(161,161,161,0.75);
  -moz-box-shadow: inset 1px 1px 11px -1px rgba(161,161,161,0.75);
  box-shadow: inset 1px 1px 11px -1px rgba(161,161,161,0.75);
  -webkit-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  overflow: hidden;
  z-index: 10;
  margin: 0 auto 0 auto;
  clear:both;
}

div#Content{
  z-index: 0;
  width: 100%;
  margin: 12% auto 0 auto;
  padding: 0;
  padding-bottom:20px;
  position: relative;
}

div#Line{
  position: absolute;
  top:80px;
  left:42%;
  border-left: 1px dashed #189DAA;
  height: 100%;
  z-index: -1;
}

header {
  padding: 10px 0px;
  width: 100%;
  background-color: rgb(86,87,87);
  position: fixed;
  top: 0;
  left:0;
  z-index: 100;
  height:1000px;
}



h1#Michelle {
  float: left;
  width: 130px;
}

h1#Spigner{
  margin: 24px 40px 0px 40px;
  width: 130px;
  padding: 0px;
}

header h2 {
  position: absolute;
  margin: 29px 188px;
  margin-bottom:0px;
  padding-top: 0.5%;
}

/*Sections*/

.Section-Text {
  margin: 0.5% 40% 0.5% 40%;
  text-align: center;
  background-color: white;
  padding: 3px auto 1px auto;
  width: 20%;
  height: 52px;
  clear:both;
  overflow:hidden;
  -webkit-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  transition: all 450ms ease;
}

img.Icon {
  width: 50px;
  height: 50px;
  padding: 0px;
  clear: both;
  float: left;
}

li.Section-Text p {
  margin: 0px;
  text-align:left;
  padding-left: 75px;
  border-left: 1px solid black;
  padding-top: 2%;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
ul.Main_Sections {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left:0;
  padding-right: 0;
  -webkit-transition: all 550ms ease-in;
  -o-transition: all 550ms ease-in;
  transition: all 550ms ease-in;
}


/* Work Section - Formatting ==============================================================*/

.Work {
  clear: both;
  background: url(../images/Background_Image.jpg);
  background-size: cover; 
  text-align: center;
  height: 650px;
  overflow: hidden;
}
.Work_TR {
  margin-top: 5%;
}
.Work_BC {
  margin-bottom: 5%;
}

div.Work_TR article {
  float: left;
  width: 25%;
  height: 250px;
  margin-right:.1%;
  overflow: hidden;
  position: relative;
}

div.Work_TR img, div.Work_BC img {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}
.Work_TR img {
  height: 250px;
}
.Work_BC img {
  width: 255px;
}

div.Work_TR, div.Wor_TR {
  clear: both;
}

div.Work_BC article {
  float: left;
  margin-right:.1%;
  margin-top: .1%;
  width: 18.72%;
  height: 270px;
  overflow: hidden;
  position: relative;
}
.Work_TR article:nth-child(1), div.Work_BC article:nth-child(1){
  margin-left: 12%;
}
.Work_TR article:nth-child(3), div.Work_BC article:nth-child(4){
  margin-right: 12%;
}

.title {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 20;
  background-color: rgba(24,157,170, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
  left:0;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

article:hover .title, article:hover .title p {
 visibility: visible;
 opacity: 1;
 cursor: pointer;
}


.title p {
  top: 25%;
  left: 0;
}
#TR-Work {
  margin: 5% auto 1%;
}

/*Work Section - Pop Out Pages==================================================================*/
.Work_Full li {
  display: inline block;
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
}
.button_div {
  display: none;
  width: 20%;
  float: left;
  cursor: pointer;
  text-align: center;
  opacity: 0.6;
  margin: 4px 71.5% 1px 8.5%;
}

.button_div p {
  padding: 0;
  margin: 8px;
  text-align: center;
  display: none;
  float: left;
}


.button_div img {
  width: 21px;
  height: 31px;
  float: left;
}
.button_div:hover {
  opacity: 0.5;
}

.Work_Full {
  margin:0% 0 0.5% 0;
  padding: 0;
  position: relative;
  width:100%;
  background-color:white;
  height:100%;
}

.BH_OOH,.BH_Wall, .HW, .SpeedStick,.Gatorade,.VictoriaS,.Challenge {
  margin-bottom: 7%;
  height: 575px;
  width: 100%;
  display: none;
  background-color:white;
  overflow: hidden;
}


video {
  text-align: center;
  margin: 1% auto;
  width: 100%;

}
/*Bolthouse===============================================*/
/*Outdoor =================================================================*/
.BH_OOH {

}
.Section .BH_OOH h1 {
  width: 70%;
  margin: 0 15% 0 15%;
  padding: 0;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  text-align: center;
  line-height: 1.6rem;
  transition: all 500ms ease-in-out;
}
.BH_OOH hr {
  max-width: 100%;
  margin: 1% 0;
  border: 1px solid black;

}
.BH_OOH p {
  float: left;
  width: 32%;
  margin: 2.5% 0 2.5% 5%;
  padding: 10.1% 1%;
  text-align: left;
  color: white;
  font-family: 'News Cycle', sans-serif;
  color:black;
  font-weight: 400;
  line-height: 1.1rem;
}
.BH-Video {
  float: left;
  margin: 58px 2% 0 1%;
  padding: 0;
  width: 60%;
  max-width:100%;
  /*  text-align: center;*/
}


/*Wall ========================================================*/
/*.BH_Wall {
  display: block;
  }*/
  .BH_Wall{
    overflow: hidden;
/*  background: url(../images/IMAGE-BG2.jpg);
  background-size: 1100px 100%;
  background-repeat: no-repeat;
  border:none;*/
  /*  z-index:10;*/

}
#BH_Wall_Slider2, #BH_Wall_Slider3 {
  display:none;
}
#BH_Wall_Slider1 {
  position: relative;
  width: 100%;
}
#BH_Wall_Slider1 h1{
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 0;
  top: -2.1%;
  color: white;
  padding: 2%;
  letter-spacing: 0.4rem;
  width: 100%;
  background-color: rgba(135,175,32,0.4);

}
#BH_Wall_Slider1 p {
  padding: 5px 12% 8px 12%;
  margin-bottom: 0;
}
#BH_center{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.BH_Mid {
  float: left;
  width: 49.7%;
  height: 250px;
}
#BH_Mid1 {
  margin-right: 0.5%;
}
#BH_Mid3 {
  margin:0.5% 2% 0 0;
}
.BH_Wall_Text {
  margin: 2px auto;
  width:90%;
  margin-right: 4%;
}
.BH_Wall_Text article {
  float: left;
  width: 31%;
  height: 177px;
  text-align: left;
  margin: 7px 0 auto 2%;
  padding: 0 2% 20px 0;
  border-right: 1px solid rgb(135,175,32);
  /*  height: 163px;*/

}
.BH_Wall_Text article:first-child {

  padding: 0 2% 20px 0;
  margin:8px 0 auto 0;
}
.BH_Wall_Text article:last-child {
  border-right:none;
  padding: 0 0 20px 0;
  margin:8px 0 auto 2%;
}
.BH_Wall_Text p {
  text-align: left;
}
/*Hotwire===============================================*/

#HW_Full {
  padding-top: 2%;
  padding-bottom: 2%;
  height: 575px;
  width: 100%;
  clear:both;
  overflow: hidden;

}
.Section .HW h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 0 2% 2% 2%;
  margin: 0;
  color: black;
  letter-spacing: 0.4rem;
  width: 100%;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.4);
/*  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid black;*/
}
.HW hr {
  max-width: 100%;
  margin: 0 0;
  border: 1px solid black;
}
.HW_Full_Text {

  width: 30%;
  padding: 0;
  float: left;
  margin: 4.5% 0 4.5% 3%;
}
.HW p {
  width: 95%;
  margin: 0;
  text-align: left;
  padding: 18% 4% 19% 4%;
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  line-height: 1.1rem;
  color: black;
}

.HW img {
  float: left;
  margin: 0 2% 0 1%;
  width: 60%;
  padding: 0;
}

/*Speed Stick===============================================*/
.SpeedStick {
  clear: both;
  margin:2% auto;
  /*  z-index:30;*/
}
.Section .SpeedStick h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 0;
  margin: 0;
  color: black;
  letter-spacing: 0.4rem;
  width: 100%;
  text-transform: uppercase;
}
.SpeedStick hr {
  max-width: 100%;
  margin: 1% 0;
  border: 1px solid black;
}
.SpeedStick img {
  float: left;
  width: 48%;
  margin: 4.5% 0 4.5% 1%;
  text-align: right;
}
.SpeedStick_Text {
  width: 45%;
  padding: 0;
  float: left;
  margin: 4.5% 0 4.5% 3%;
}
.SpeedStick p {
  width: 90%;
  float: left;
  margin: 0;
  padding: 10px 8% 10px 8%; 
  text-align: left;
  color: black;
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  line-height: 1.1rem;
}

/*Gatorade===============================================*/
.Gatorade {

}
.Executions {
  display:none;
}
#GG_Image /*#Gatorade_1*/ {
  float: left;
  max-width: 60%;
  margin: 7px 0 0 4%;
  text-align: right;
}
.Section .Gatorade h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 0;
  margin: 0;
  color: black;
  letter-spacing: 0.4rem;
  width: 100%;
  text-transform: uppercase;
}
.Gatorade hr {
  max-width: 100%;
  margin: 1% 0;
  border: 1px solid black;
}
.Gatorade_Text {
  float: left;
  width: 30%;
  margin: 3px 0 0 4%;
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  line-height: 1.3rem;
}
.Gatorade_Text p {
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 0.9rem;
  padding-right: 4%;
  tex-talign: left;
}
.Gatorade .team {
  clear:both;
  text-align: left;
  font-size: 0.7rem;
  text-align: left;
  padding: 0 2%;
}
#View_More {
  clear: both;
  text-align: center;
  width: 51%;
  padding: 3%;
  margin: 30px auto 30px auto;
  background-color: rgba(96,196,190,1);
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  border: 2px solid white;

}
#View_More:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid rgba(96,196,190,1);
  color: rgba(96,196,190,1);
}

/*Challenge===============================================*/
.Challenge img{
  max-width: 100%;
  height: 300px;
  margin: 1% 14.5%;
}
.Challenge p {
  margin: 1% 10%;
}
/*Victoria's Secret ===========================================================*/
.VictoriaS {

}
.Section .VictoriaS h1 {
  width: 70%;
  margin: 3% 15% 0 15%;
  padding: 0;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  text-align: center;
  line-height: 1.6rem;
  text-transform: uppercase;
}
.VictoriaS hr{
  max-width: 100%;
  margin: 1% 0 0 0;
  border: 1px solid black;
}
.VictoriaS_Text {
  float: left;
  width: 30%;
  padding: 0;
  float: left;
  margin: 13% 4% 13% 3%;
  z-index:40;
  position: absolute;
  top: 0;
  left: 0;
}

.VictoriaS_Text p {
  width: 95%;
  margin: 0;
  text-align: left;
  padding: 30% 8% 30% 4%;
  margin: 7% auto 7% auto;
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  line-height: 1.1rem;
  color: black;

}
.VictoriaS img {
  float: left;
  margin: 0 0 0 30%;
  max-width: 70%;
  max-height:100%;
  padding: 0;
}
/*CHallenge*/
.Challenge {
  z-index:70;
}

/*Font Styles ===============================================*/
html {
  font-size: 16px;
}
.Section .Work_Full h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  border: none;
  padding-top: 0;
  margin-top: 0;
}
.Work_Full h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: left;
}
.Work_Full p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}

.active{
  color: blue;
}
#View_More {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.2rem;
}
strong {
  text-transform: bold;
}
/*Animation Classes==================================================*/


.slideIn {
  display: block;
  /*opacity: 1;
  visibility: visible;*/
}

.slideIn .Back {
  display: block;
}
.slideOut {
  opacity: 0;
  visibility: hidden;
}

/* Resume Section - Formatting =====================================================
=========*/
.Resume {
  height: 800px;
  background-color: white;
  z-index: 15;
}
/*.Resume_Border {
    border-top: 3px solid #D7EAE5;
  border-bottom: 3px solid #D7EAE5;
}*/
.Experience {
  z-index: 15;
  height: 615px;
  float: left;
  width: 50%;
  margin-right: 8%;
  padding: 26px;
  border-bottom: 1px solid #384544;
}
.Experience article {
  margin-bottom: 4%;
}
.Education {
  float: left;
  width: 20%;
  margin-left: 13%;
  margin-right: 4%;
  padding-top: 26px;
  border-bottom: 1px solid #384544;
}
.Education article{
  margin-bottom: 13%;
}
.Resume>h2{
  text-align: left;
  clear: both;
  margin: 0% 8%;
  padding: 0;
}

.Skills {
  clear: both;
  text-align: center;
  padding-top: 20px;
}
#PDF {
  margin-right: 8%;
}


/* About Section
================================================================ */
.About {
  background: url(../images/Background_Image_2.jpg)center center no-repeat;
  /*  background-color: #5DADB8;*/
  z-index: 23;
  height: 780px;
  position: relative;
}
.About_White {
  background-color: rgba(255,255,255, 0.6);
  margin: 2% 8%;
  padding-bottom: 5%;
/*  border: 1px solid #384544;
*/}
.About img{
  float:left;
  width: 26%; 
  height: 53%;
/*  border: 3px solid #EF6764;
*/  margin: 4% 3% 1% 16%;
overflow: hidden;
position: relative;
border: 4px solid #40ABB0;
padding: 1%;
}
.About_Text {
  float: left;
  margin-left: 2%;
  width: 48%;
  margin: 10% auto 0 auto;
  padding: 2%;
  z-index: 24;
  height: 350px;
}
.About_Text h2 {
  margin: 0 auto 4% auto;
  z-index: 22;
  text-align: center;
  background-color: #40ABB0;
  color: white;
  padding: 1.2%;
  width: 70%;
}
.Fun-Stuff {
  clear: both;
}
.Fun-Stuff h2 {
  background-color: none;
  color: black;
  border-bottom: 1px solid black;
  padding: 1% 0 1.3% 0;
  width: 50%;
  margin: 1% auto 1% auto;
}

.About p {
  margin: 0;
  padding: 0;
  color: black;
}

.Fun-Stuff p {
  width: 80%;
  margin: 0 auto;
}
.line_horizontal {
  position: absolute;
  border:1px solid #189DAA;
  width: 11.8%;
  top: 27%;
  left: 46%;
}
/*Footer =========================================================*/

.footer ul {
  margin: 0.4% 2% 0 2%;
  padding: 0;
}
.Contact li {
  display: inline-block;
  text-align: left;
  color: black;
  margin-left: 1%;
}
.Cont li:last-child {
  margin-right: 2%;
}
.Contact {
  margin-right: 0;
  width: 56%;
  float:left;
}
.Social li {
  display: inline-block;
  text-align:left;
  margin-left: 1%;
}
.Social li:first-child {
  margin-left: 2%;
}
.Social {
  margin-left:0;
  float:right;
  width: 20%;
  text-align: right;
}
.footer, footer {
  height: 60px;
  background-color:white;
    width:100%;
}
.footer p {
  clear:both;
  margin:0 0 0 2%;
  padding:0 0 0 5px;
}
.footer img {
  height:15px;
  width:15px;
}
footer {
  position: fixed;
  left:0;
  bottom:0;
  border-top: 1px solid gray;
  z-index: 1;
}
/* Text Styles
================================================================ */
html {
  font-size: 20px;
  height:100%;
}
.footer li {
  font-size: 0.7rem;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  color: gray;
}
.footer p {
  font-size: 0.6rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;;
  color:gray;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  margin: 0px 40px;
}

h1#Michelle{
  font-size: 1.5rem;
  text-align: right;
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
  margin-top: -23px;
}

h1#Spigner{
  font-size: 1.4rem;
  padding: 0px;
  text-align: right;
  color:white;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
  line-height: 0.6rem
}

#Title-Load2 {

font-family: 'Loved by the King', cursive;
font-size: 1rem;
color: white;
margin-top: 0.2%
}

  h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    margin-top: 20px;
  }

  ul {
    list-style-type: none; 
  }

  li, li p {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    text-transform: uppercase;
    list-style: none;
  }
  .Section h1 {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 100;
    font-size: 2.0rem;
    text-transform: uppercase;
    z-index: 200;
    position: relative;
    padding: 0;
    width: 20%;
    margin: 2% auto -3% auto;
    border-bottom: 1px solid black;
    text-align: center;
  }
  /*Correcting for Bolthouse OOH */
  #BH1 h1 {
    width: 70%;
  }
  div.title p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    text-align: center;
    color: white;
    vertical-align: text-bottom;

  }
  div.title p:first-child {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.3rem;
    margin-bottom: 5px;
    padding: 25% 10% 0% 10%;
  }
  div.title p:nth-child(2){
    font-size: 0.8rem;
    line-height: 0.7rem;
    margin-top: 0;
    padding: 0 10% 25% 10%;
  }

  .Resume p {
    font-size: 0.6rem;
    font-family: 'Quicksand', sans-serif;
  }
  .Resume h2 {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #4B918D;
    padding: 0;
  }
  .Experience h2 {
    width: 55%;
    text-align: center;
    background-color: #189DAA;
    color: white;
    padding: 5px;
  }
  .Education h2{
    width: 100%;
    text-align: center;
    background-color: #189DAA;
    color: white;
    padding: 5px;
  }
  .Education p {
    text-align: right
  }
  .Resume strong {
    font-size: 0.8rem;
  }
  .Education strong {
    text-transform: uppercase;
  }
  .Skills h2 {
    text-align: center;
  }
  #PDF{
    text-align: right;
    text-transform: uppercase;
  }
  .About h2 {
     font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    font-weight: 400;
    text-align:center;
  }
  .Fun-Stuff h2 {
    font-size: 1.2rem;
  }
  .About p {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 0.9rem;
    color: black;
    line-height: 1.5rem;
    text-align: center;
  }
  .Fun-Stuff p {
    line-height: 1.5rem;
  }

  #Back, .Back {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  }

/* Classes
================================================================ */
.Mini_Nav {
  position: static;
  margin: 0;
  z-index:2;
}
.Mini_Nav #Michelle, .Mini_Nav #Spigner, .Mini_Nav #Title-Load2 {
  font-size: 0.6rem;
  z-index: 3;
  padding: 0;
  margin-top: -10px;
  margin: 0;
  margin-left: 3%;
  line-height: 0.65rem;
}
.Mini_Nav #Title-Load2 {
  margin-left: 176px;
  margin-top: 10px;
}

.Closed .Icon, .Closed {
  display: none;

}
.Open {
  display: block;
}
.Closed .Work_TR{
  margin-top: 1%;
}
.Collapse .Main_Sections, .Collapse #Title-Load, .Collapse .Work  {
  padding-top: 0;
  margin-top: 0;
}
.Collapse #Title-Load{
  padding: 0;
  margin: 0;
}
.Collapse #Content {
  margin-top: 8%;
  padding-top: 0;
}
.Content_Collapse #Content {
  margin-top: 0;
}
/*To shrink nav even further when we look at all of the work*/
/*To change the size of the text in the header upon page load.*/
.load {
  margin: 10% auto;
  height:100%;
}
/*When the work full */
.PageLoad {
  background-color: rgb(86,87,87);
}
.PageLoad #Michelle, .PageLoad #Spigner, .PageLoad h2 {
  position: static;
  float: left;
  font-size: 3rem;
  clear: both;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  line-height: 2.5rem;
  padding:0;
}

#Title-Load li {
  opacity: 0;
  /*ont-family: 'Fira Sans', sans-serif;*/
  /*  font-weight: 300;*/
  font-family: 'Loved by the King', cursive;
  text-transform: lowercase;
  font-size: 2rem;
  color: white;
  clear:both;
  float:left;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  line-height: 0rem;
  padding: 0;
}

#Title-Load {
  clear:both;
  list-style: none;
  padding:30px;
}
.Section_Closed {
  height:0px;
  margin-top: 0;
  margin-bottom:0;
}


/*Animations ====================================================*/
/*#Thinker {
  transition: all 400ms ease-in-out;
  }*/
.fade-In-Faster {
      -webkit-animation: fadein 900ms ease-in-out 600ms;
    -moz-animation: fadein 900ms ease-in-out 600ms;
    -ms-animation ease-in 1s: fadein 900ms ease-in-out 600ms;
    -o-animation: fadein 900ms ease-in-out 600ms;
    animation: fadein 900ms ease-in 600ms;
}
  .fade-In {
    -webkit-animation: fadein 1000ms ease-in-out;
    -moz-animation: fadein 1000ms ease-in-out;
    -ms-animation ease-in 1s: fadein 1000ms ease-in-out;
    -o-animation: fadein 1000ms ease-in-out;
    animation: fadein 1000ms ease-in-out;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
.Section-Text:hover, .Section-Text p:hover {
  font-weight:400;
  font-size: 1.6rem;
  color: #159DAA;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

/* Footer
================================================================ */



/* Navigation
================================================================ */



/* Buttons
   ================================================================ 