 * {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/*Layout===============================================*/
/* Homepage Header */
/*header {
  padding: 10px 0px;
  width: 100%;
  background-color: rgba(86,87,87,0.6);
  position: fixed;
  top: 0;
  left:0;
  z-index: 100;
  height: 90px;
}*/
h1#Michelle {
  float: left;
  width: 130px;
}

h1#Spigner{
  margin: 24px 40px 0px 40px;
  width: 130px;
  padding: 0px;
}
h1#Michelle{
  font-size: 1.5rem;
  text-align: right;
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
}

h1#Spigner{
  font-size: 1.4rem;
  padding: 0px;
  text-align: right;
  color:white;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
  line-height: 0.6rem
}
/*=================================================*/

header li {
	display: inline block;
}
.Work_Full {
	margin: 95px auto 0 auto;
	padding: 0 5%;
	position: relative;
}
/*div {
	clear: both;
}/*
iframe {
	text-align: center;
	margin: 0 auto;
	width: 50%;
}
#player {
	margin: 1% 20%;
	text-align: center;
}*/
.BH_OOH,.BH_Wall,.SpeedStick,.Gatorade,.VictoriaS,.Challenge {
	position: absolute;
	top:0;
	left:0;
	margin-bottom: 7%;
	border: 1px solid gray;
	height: 575px;
	width: 100%;
/*	clear:both;*/
	overflow: hidden;
	opacity:0;
	visibility: hidden;
	transition: all 700ms ease-in-out;
	background-color:white;
}
.HW {
	position: absolute;
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	margin-bottom: 7%;
	border: 1px solid gray;
	height: 575px;
	width: 100%;
/*	clear:both;*/
	overflow: hidden;
	transform: translateX(-150%);
	transition: all 700ms ease-in-out;
	background-color:white;

}
/*#Next/*, #Previous */
/*	padding-top: 100px;
	display: inline-block;
	position:fixed;
	z-index:1000;
}
#Previous{
	padding-top: 75px;
	display: inline-block;
	position:fixed;
	z-index:1000;
}*/
video {
	text-align: center;
	margin: 1% auto;
	width: 100%;

}
/*Bolthouse===============================================*/
/*Outdoor =================================================================*/
.BH_OOH {
/*	background: url(../images/IMAGE-BG.jpg);
	background-size: 1100px 100%;
	background-repeat: no-repeat;
	border:none;*/
/*	z-index: 5;*/
}
.BH_OOH h1 {
	width: 70%;
	margin: 3% 15% 0 15%;
	padding: 0;
/*	border-bottom: 1px solid #189DAA;*/
/*  	font-family: 'Advent Pro', sans-serif;
  	font-weight: 100;*/
  	font-family: 'Jura', sans-serif;
  	font-weight: 400;
  	letter-spacing: 5px;
  	text-align: center;
  	line-height: 1.6rem;
}
.BH_OOH hr {
	max-width: 100%;
	margin: 1% 0;
	border: 1px solid black;

}
.BH_OOH p {
	float: left;
	width: 35%;
	margin: 4.5% 0 4.5% 2%;
	padding: 10.1% 3%;
	text-align: right;
	background-color: rgba(56,69,68,0.38);
	color: white;
	font-family: 'News Cycle', sans-serif;
  	font-weight: 400;
  	line-height: 1.3rem;
}
.BH-Video {
	float: left;
	margin: 58px 2% 0 1%;
	padding: 0;
	width: 60%;
	max-width:100%;
/*	text-align: center;*/
}


/*Wall ========================================================*/
/*.BH_Wall {
	display: block;
}*/
.BH_Wall{
	overflow: hidden;
/*	background: url(../images/IMAGE-BG2.jpg);
	background-size: 1100px 100%;
	background-repeat: no-repeat;
	border:none;*/
/*	z-index:10;*/

}
#BH_Wall_Slider2, #BH_Wall_Slider3 {
	display:none;
}
#BH_Wall_Slider1 {
	position: relative;
	width: 100%;
}
#BH_Wall_Slider1 h1{
	font-family: 'Jura', sans-serif;
  	font-weight: 400;
  	text-align: center;
	position: absolute;
	left: 0;
	top: -5.1%;
	color: white;
	padding: 2%;
	letter-spacing: 0.4rem;
	width: 100%;
	background-color: rgba(135,175,32,0.4);

}
#BH_Wall_Slider1 p {
	padding: 5px 12% 8px 12%;
	margin-bottom: 0;
}
#BH_center{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.BH_Mid {
	float: left;
	width: 49.7%;
	height: 250px;
}
#BH_Mid1 {
	margin-right: 0.5%;
}
#BH_Mid3 {
	margin:0.5% 2% 0 0;
}
.BH_Wall_Text {
	margin: 2px auto;
	width:90%;
	margin-right: 4%;
}
.BH_Wall_Text article {
	float: left;
	width: 31%;
	height: 177px;
	text-align: left;
	margin: 7px 0 auto 2%;
	padding: 0 2% 20px 0;
	border-right: 1px solid rgb(135,175,32);
/*	height: 163px;*/

}
.BH_Wall_Text article:first-child {

	padding: 0 2% 20px 0;
	margin:8px 0 auto 0;
}
.BH_Wall_Text article:last-child {
	border-right:none;
	padding: 0 0 20px 0;
	margin:8px 0 auto 2%;
}
.BH_Wall_Text p {
	text-align: left;
}
/*Hotwire===============================================*/
.HW {
/*	z-index:20;*/
}
#HW_Full {
	padding-top: 2%;
	padding-bottom: 2%;
	border: 1px solid gray;
	height: 575px;
	width: 100%;
	clear:both;
	overflow: hidden;
/*	background: url(../images/HW_blur.jpg);
	background-size: 1100px 100%;
	background-repeat: no-repeat;
	border:none;*/
}
.HW h1 {
	font-family: 'Jura', sans-serif;
  	font-weight: 400;
  	text-align: center;
	padding: 2%;
	margin: 0;
	color: black;
	letter-spacing: 0.4rem;
	width: 100%;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.4);
/*	width: 50%;
	margin: 0 auto;
	border-bottom: 1px solid black;*/
}
.HW hr {
	max-width: 100%;
	margin: 0 0;
	border: 1px solid black;
}
.HW_Full_Text {
	background-color: rgba(56,69,68,0.45);
	width: 30%;
	padding: 0;
	float: left;
	margin: 4.5% 0 4.5% 3%;
}
.HW p {
	width: 95%;
	margin: 0;
	text-align: right;
	padding: 18% 4% 19% 4%;
	font-family: 'News Cycle', sans-serif;
  	font-weight: 400;
  	line-height: 1.3rem;
  	color: white;
}

.HW img {
	float: left;
	margin: 3.5% 2% 0 1%;
	width: 60%;
	padding: 0;
	height: 400px;
/*	background-image: url(../images/Pandora.jpg);*/
/*	text-align: center;*/
}

/*Speed Stick===============================================*/
.SpeedStick {
	clear: both;
	margin:2% auto;
/*	z-index:30;*/
}
.SpeedStick h1 {
	font-family: 'Jura', sans-serif;
  	font-weight: 400;
  	text-align: center;
	padding-top: 4%;
	margin: 0;
	color: black;
	letter-spacing: 0.4rem;
	width: 100%;
	text-transform: uppercase;
}
.SpeedStick hr {
	max-width: 100%;
	margin: 1% 0;
	border: 1px solid black;
}
.SpeedStick img {
	float: left;
	width: 48%;
	margin: 4% 0 0 1%;
	text-align: right;
}
.SpeedStick_Text {
	background-color: rgba(56,69,68,0.45);
	width: 45%;
	padding: 0;
	float: left;
	margin: 4.5% 0 4.5% 3%;
}
.SpeedStick p {
	width: 90%;
	float: left;
	margin: 0;
	padding: 7% 1% 7% 8%; 
	text-align: left;
	color: white;
	font-family: 'News Cycle', sans-serif;
  	font-weight: 400;
  	line-height: 1.3rem;
}

/*Gatorade===============================================*/
.Gatorade {
	z-index: 40;
}
.Executions {
	display:none;
}
#GG_Image /*#Gatorade_1*/ {
	float: left;
	max-width: 60%;
	margin: 7px 0 0 4%;
	text-align: right;
}
.Gatorade h1 {
	font-family: 'Jura', sans-serif;
  	font-weight: 400;
  	text-align: center;
	padding-top: 4%;
	margin: 0;
	color: black;
	letter-spacing: 0.4rem;
	width: 100%;
	text-transform: uppercase;
}
.Gatorade hr {
	max-width: 100%;
	margin: 1% 0;
	border: 1px solid black;
}
.Gatorade_Text {
	float: left;
	width: 30%;
	margin: 3px 0 0 4%;
	text-align: right;
	font-family: 'News Cycle', sans-serif;
  	font-weight: 400;
  	line-height: 1.3rem;
}
.Gatorade_Text p {
	font-family: 'News Cycle', sans-serif;
  	font-weight: 400;
  	line-height: 1.3rem;
}
.Gatorade .team {
	clear:both;
	text-align: left;
	font-size: 0.8rem;
	text-align: center;
	padding: 0 2%;
}
#View_More {
	clear: both;
	text-align: center;
	width: 51%;
	padding: 3%;
	margin: 30px auto 30px auto;
	background-color: rgba(96,196,190,1);
	color: white;
	text-transform: uppercase;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	border: 2px solid white;
}
#View_More:hover {
	cursor: pointer;
	background-color: white;
	border: 2px solid rgba(96,196,190,1);
	color: rgba(96,196,190,1);
}

/*Challenge===============================================*/
.Challenge img{
	max-width: 100%;
	height: 300px;
	margin: 1% 14.5%;
}
.Challenge p {
	margin: 1% 10%;
}
/*Victoria's Secret ===========================================================*/
.VictoriaS {
/*	margin: auto 4% auto 4%;*/
/*	z-index:60;*/
}
.VictoriaS h1 {
	width: 70%;
	margin: 3% 15% 0 15%;
	padding: 0;
  	font-family: 'Jura', sans-serif;
  	font-weight: 400;
  	letter-spacing: 5px;
  	text-align: center;
  	line-height: 1.6rem;
  	text-transform: uppercase;
}
.VictoriaS hr{
	max-width: 100%;
	margin: 1% 0 0 0;
	border: 1px solid black;
}
.VictoriaS_Text {
	float: left;
	width: 30%;
/*	margin: 3px 0 0 4%;*/
	background-color: rgba(56,69,68,0.45);
	padding: 0;
	float: left;
	margin: 13% 0 13% 3%;
	z-index:40;
	position: absolute;
	top: 0;
	left: 0;
}

.VictoriaS_Text p {
	width: 95%;
	margin: 0;
	text-align: left;
	padding: 30% 4% 30% 4%;
	margin: 7% auto 7% auto;
	font-family: 'News Cycle', sans-serif;
  	font-weight: 400;
  	line-height: 1.3rem;
  	color: white;

}
.VictoriaS img {
	float: left;
	margin: 0 0 0 30%;
	max-width: 70%;
	max-height:100%;
	padding: 0;
}
/*CHallenge*/
.Challenge {
	z-index:70;
}

/*Font Styles ===============================================*/
html {
	font-size: 16px;
}
h1 {
	font-family: 'Quicksand', sans-serif;
  	font-weight: 300;
  	font-size: 1.8rem;
  	text-align: center
}
h2 {
	font-family: 'Quicksand', sans-serif;
  	font-weight: 300;
  	font-size: 1.4rem;
  	text-align: left;
}
p {
	font-family: 'Quicksand', sans-serif;
 	font-weight: 400;
	font-size: 1rem;
}

.active{
	color: blue;
}
#View_More {
	font-family: 'Advent Pro', sans-serif;
  	font-weight: 100;
  	font-size:1.4rem;
}
strong {
	text-transform: bold;
}
/*Animation Classes==================================================*/


.slideIn {
	opacity: 1;
	visibility: visible;

}
.slideOut {
	opacity: 0;
	visibility: hidden;
}






